.manange-inventory-container {
    position: relative;
}

.manage-btn-container {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    background-color: limegreen;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}